<!-- templates/network_data.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management Interface - Notifications</title>
    <style>
        /* Add your existing styles here */
    </style>
</head>
<body>
    <a class="home-link" href="{{ url_for('index') }}">Home</a>
    <h1>Notifications</h1>
    <section>
        <h2>Suspicious Packets:</h2>
        <p>Packet number 123 <br>
            Packet source: 191.101.10<br>
            Nature of threat: Chinese or Russian origin <br>
            Timestamp: 13.37 CET <br>
        </p>
    </section>

    <!-- Add content specific to the Notifications -->
</body>
</html>